<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TaskMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <display-name>TaskMS</display-name>
  <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.idiot.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.idiot.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.idiot.servlet.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ListTasksServlet</servlet-name>
    <servlet-class>com.idiot.servlet.ListTasksServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListTasksServlet</servlet-name>
    <url-pattern>/listTasks</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.idiot.servlet.EditTaskServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/editTask</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>com.idiot.servlet.UpdateTaskServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/updateTask</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.idiot.servlet.DeleteTaskServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/deleteTask</url-pattern>
</servlet-mapping>
</web-app>